
mixin table-tree(arr , level=1)
    each item in arr 
        - const prefix = Array(level+1).join("--")
           tr 
                td 
                    input(type="checkbox" name="id" value=item.id)
                td #{item.index}
                td 
                    img(src=item.thumbnail  alt=item.title width="100px" height="auto")
                td(style="margin: 10px") #{item.title}
                td(style="margin: 10px") #{item.danhmuccha_id}
                td  
                    input(type="number"
                    value = item.position
                    style= "width:60px"
                    min= "1"
                    name = "postion"
                    )
                td
                 
                    a(

                        href=`/admin/product-category/detail/${item.id}`
                        class="btn btn-success btn-sm" style="margin: 10px" update_button) Chi tiết
                    if(role.permission.includes("products-category_edit"))
                        a(

                            href=`/admin/product-category/edit/${item.id}`
                            class="btn btn-warning btn-sm" style="margin: 10px" update_button) Sửa
                    if(role.permission.includes("products-category_delete"))
                        button(class="btn btn-danger btn-sm ml-1"
                            pro_id= item.id
                            delete_buttons) Xóa
        if item.children && item.children.length >0
            +table-tree(item.children,level+1)