extends ../../layout/default.pug
include ../../mixins/product_layout.pug
include ../../mixins/alert.pug

block title 
    title #{titlePage}

block main
    +alert-success(5000)
    .container 

        h1(class="text-success") Thanh Toán
        
        if(order)
            .row 
                .col-12 
                    div(class="alert alert-success")
                        | Chúc mừng bạn đã đặt hàng thành công! Chúng tôi sẽ xử lý đơn hàng trong thời gian sớm nhất

        
        if(order)
            .row 
                .col-12 
                    .card.p-4.my-4
                        form(action="/checkout/order", method="post")
                            div(class="form-group")
                                label(for="fullname") Họ Tên 
                                input(type="text"
                                class="form-control"
                                name="fullname"
                                id="fullname"
                                value= order.user_info.fullname) 
                            div(class="form-group")
                                label(for="fullname") Số điện thoại
                                input(type="text"
                                class="form-control"
                                name="phone"
                                id="phone"
                                value= order.user_info.phone)
                            div(class="form-group")
                                label(for="fullname") Địa chỉ
                                input(type="text"
                                class="form-control"
                                name="address"
                                id="address"
                                value= order.user_info.address)
                                
            if(order.products.length >0)

                table(class="table m-2")
                    th STT
                    th Ảnh
                    th Tên 
                    th Giá
                    th Số lượng 
                    th Tổng Tiền

                    each item,index in product 
                        tr 
                            td #{index+1}
                            td(class="w-25")
                                img(src=item.product.thumbnail, alt="" class="w-25")
                            td  #{item.product.title} 
                            td  #{item.product.PriceNew}$
                            td  
                                input(type="number"
                                name="quantity"
                                id="quantity"
                                min=1
                                max=item.product.stock
                                product_id = item.product.id
                                value= item.quantity)
                            td  #{item.product.totalPrice}$  
            .payment.w-100.d-flex.justify-content-end
                h2(class="text-right") Tổng đơn hàng: #{order.totalPrice}$
                    

