extends ../../layout/default.pug


block title 
    title #{titlePage}


block main
    .container 

        a(href=`/product` class="m-1 text-decoration-none fw-bold")  Trang Chủ > 
        a(href=`/news` class="m-1 text-decoration-none fw-bold text-warning")  Tin tức >
        a(href=`/news/detail/${News.slug}` class="m-1 text-decoration-none fw-bold text-warning") #{News.title}
        
        .row-sm-12-lg-6.d-flex.w-100
            .col-3.m-1
                .row.d-flex.flex-row
                    h3 Danh mục
                    each item in Product_category
                        .col-4.d-flex.w-100.m-1
                            .product-item.d-flex.m-1.w-100
                                    .inner-imgae.d-flex.justify-content-center.w-25.text-bg-secondary
                                        img(src=item.thumbnail, alt=item.title class="w-100" style="height: 95%; margin-top:10px;")
                                    .inner-content.d-flex.text-center.mt-3
                                        a(href=`/news/category/${item.slug}`) 
                                            p.inner-title(style="width: 200%;") #{item.title}

            
            .col-10
                .row-sm-12-lg-6.d-flex
                        .col.mb-3.w-100.m-1
                            .product-item 
                                h2.text-success.text-center #{News.title}
                                .inner-content.text-center !{News.description}
