extends  ../../layout/default.pug
include ../../../../mixin/box-head.pug

block title 
    title #{titlePage}

block main
    .container.my-3
        .row 
            .col-12
                +box-head("Danh sách sản phẩm")

        .row
            each item in Products
                .col-4.mb-3 
                    .product-item 
                        .inner-imgae 
                            img(src=item.thumbnail, alt=item.title)
                        .inner-content
                            a(href=`/product/${item.slug}`) 
                                h3.inner-title #{item.title}
                            .inner-price-new #{item.PriceNew}$
                            .inner-price-old #{item.price}$
                            .inner-discount  #{item.discountPercentage}%

