extends ../../layout/default.pug
include ../../mixins/filterstatus.pug
include ../../mixins/findbar.pug
include ../../mixins/pagination.pug
include ../../mixins/change_multi.pug
include ../../mixins/alert.pug
block title
    title title


block main
    +alert-success(5000)
    +alert-find(5000)
    +alert-delete(5000)

    h1  Trang Sản Phẩm
    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6  
                   +filterStatus(filterStatus)
                .col-6 
                   +find(keyword)

    .card.mb-3 
        .card-header Danh sách
        .card-body
            .row
                .col-4
                    +change_multi('/admin/product/change-multi?_method=PATCH')
                .col-8
                    a(href="/admin/product/create"
                    class="btn btn-outline-success") + Thêm mới
                .col-8 
                    div(sort class="d-flex")
                        select(
                        name="sort"
                        class="form-control"
                        sort-select
                        )
                          
                            option(value="position-desc") Vị trí giảm dần
                            option(value="position-asc") Vị trí tăng dần
                            option(value="price-desc") Giá giảm dần
                            option(value="price-asc") Giá tăng dần
                            option(value="title-asc") Tiêu đề A - Z
                            option(value="title-desc") Tiêu đề Z - A

                        button(
                        class="btn btn-danger mt-2 m-2"
                        sort-clear
                        ) Clear
            .row
                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                
                    thead 
                        tr 
                            th 
                                input(type="checkbox" name="checkall")
                            th STT 
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Vị trí 
                            th Trạng Thái
                            th Hành Động
                        

                    tbody 
                        each item in product
                           
                            tr 
                                td 
                                    input(type="checkbox" name="id" value=item.id)
                                td #{item.position}
                                td 
                                    img(src=item.thumbnail  alt=item.title width="100px" height="auto")
                                td(style="margin: 10px") #{item.title}
                                td(style="margin: 10px") #{item.price}$
                                td  
                                    input(type="number"
                                    value = item.position
                                    style= "width:60px"
                                    min= "1"
                                    name = "postion"
                                    )
                                td 
                                    if(item.status == "active")
                                        a(href="javascript:;" class="badge badge-success" style="background-color:green; text-decoration: none; margin-top: 15px;"
                                        pro_status = item.status
                                        pro_id = item.id
                                        button-change-status
                                        ) Hoạt Động
                                    else
                                        a(href="javascript:;" class="badge badge-danger" style="background-color:red; text-decoration: none; margin-top: 15px;"
                                        pro_status = item.status
                                        pro_id = item.id
                                        button-change-status
                                        ) Dừng Hoạt Động
                                td 
                                    a(

                                        href=`/admin/product/detail/${item.id}`
                                        class="btn btn-success btn-sm" style="margin: 10px" update_button) Chi tiết
                                    a(

                                        href=`/admin/product/edit/${item.id}`
                                        class="btn btn-warning btn-sm" style="margin: 10px" update_button) Sửa
                                    button(class="btn btn-danger btn-sm ml-1"
                                        pro_id= item.id
                                        delete_buttons) Xóa
                        
    +pagination(pagination)
    form(action="", 
    method="POST",
    product-path="/admin/product/change-status"
    id="form-change-status")

    form(action="", 
    method="POST",
    product-path="/admin/product/delete"
    id="form-delete")

    script(src="/admin/JS/product.js") 